# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  repository_dispatch:
    types: [ source_updated ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.x'

      - name: Change docfx.json path so github links work
        run: |
          sed -i 's|../ServiceStack/ServiceStack|./ServiceStack/ServiceStack|g' docfx.json

      - uses: nikeee/docfx-action@v1.0.0
        name: Build Documentation
        with:
          args: metadata

      - name: Checkout DocFxMarkdownGen
        uses: actions/checkout@v3
        with:
          repository: Layoric/DocFxMarkdownGen
          path: DocFxMarkdownGen
      - name: Checkout ServiceStack
        uses: actions/checkout@v3
        with:
          repository: ServiceStack/ServiceStack
          path: ServiceStack
      - name: Build docs
        run: |
          chmod +x ./generate.sh
          ./generate.sh
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          user_name: 'GitHub Action'
          user_email: 'action@github.com'
