# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  # Single deploy job since we're just deploying
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: '6.x'
      - name: Install dfmg
        run: |
          dotnet tool install -g DocFxMarkdownGen
      - name: Download docfx
        run: wget https://github.com/dotnet/docfx/releases/download/v2.59.4/docfx.zip
      - name: Setup docfx
        run: |
          unzip ./docfx.zip -d ./docfx
          chmod +x ./docfx/docfx.exe
          ./docfx/docfx.exe --version
          echo "${GITHUB_WORKSPACE}/docfx" >> $GITHUB_PATH
      - name: Checkout ServiceStack
        uses: actions/checkout@v3
        with:
          name: ServiceStack
          path: Servicestack
      - name: Build docs
        run: |
          echo "$PATH"
          chmod +x ./generate.sh
          ./generate.sh
      
